.card {
   position: relative;
   font-size: 1.4rem;
   margin: 0 auto;
   width: min(var(--inner-page-width), 100%);
   background: var(--gainsboro);
   border-radius: 0.5rem;
   display: grid;
   grid-template-rows: 12rem 0.25rem 2fr auto auto;
   grid-template-columns: 12rem 1fr;
   grid-template-areas: "header header" "accent accent" "bodyLeft bodyRight" "hasTagWrapper hasTagWrapper" "expandTags expandTags";
   gap: 0.25rem;
   overflow: hidden;
}

.header {
   background: var(--cultured);
   grid-area: header;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   box-shadow: inset 3px 3px 8px white, inset -3px -3px 8px white;
}

.accent {
   width: 100%;
   height: 100%;
   grid-area: accent;
   background: var(--cultured);
}

.bodyLeft {
   grid-area: bodyLeft;
   padding: 1rem;
   border-radius: 0.25rem;
   display: flex;
   align-items: flex-start;
   background: var(--light-gray);
   background: var(--cultured);
}

.bodyRight {
   grid-area: bodyRight;
   border-radius: 0.25rem;
   border-radius: 0.25rem 0.25rem 2rem 0.25rem;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0.25rem;
}

.bodyRightStatic {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: 0.25rem;
   background: var(--light-gray);
   background: var(--cultured);
}

.titleWrapper {
   font-weight: 600;
}

.thumbnailWrapper {
   position: relative;
   display: flex;
}

.expandTagsWrapper {
   display: none;
}

.expandTagsWrapperActive {
   height: auto;
   display: flex;
   flex-direction: column;
   gap: 0.25rem;
}

.thumbnail {
   width: 10rem;
}

.idWrapper,
.serialWrapper {
   position: relative;
   font-size: 1.3rem;
   gap: 0.25rem;
   display: grid;
   grid-template-columns: 12rem 1fr;
}

.skuWrapper {
   position: absolute;
   top: 1rem;
   right: 1rem;
   opacity: 0.5;
   font-size: 1.9rem;
   font-weight: 700;
   color: var(--blue);
}

.keyWrapper {
   font-weight: 300;
   color: var(--charleston-green);
   display: flex;
   align-items: flex-start;
   opacity: 0.75;
   font-weight: 500;
   min-width: 5rem;
}

.key {
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

.icon {
   width: 1.2rem;
}

.value {
   position: relative;
   color: var(--gunmetal);
   font-weight: 600;
   display: flex;
   flex-wrap: wrap;
}

.linkValue {
   position: relative;
   color: var(--blue);
   cursor: pointer;
   font-weight: 600;
   display: flex;
   flex-wrap: wrap;
}

.hasTagWrapper {
   display: grid;
   grid-template-columns: 12rem auto;
   grid-area: hasTagWrapper;
   padding: 1rem;
   gap: 0.25rem;
   background: var(--cultured);
}

.hasTagHeader {
   color: var(--slate-gray);
   text-transform: uppercase;
   font-weight: 600;
}

.hasTagBody {
   display: flex;
   flex-wrap: wrap;
   gap: 0.5rem;
}

.hasTag {
   position: relative;
   color: var(--slate-gray);
   border-radius: 2rem;
   cursor: pointer;
}

.hasTag:hover {
   text-decoration: underline;
}

.expandTagsFooter {
   display: flex;
   justify-content: flex-end;
   grid-area: expandTags;
   border-radius: 0 0 2rem 0;
}

.expandTagsButton,
.openItemButton {
   min-width: 10rem;
   display: flex;
   justify-content: center;
   background: none;
   border: none;
   padding: 1rem;
   cursor: pointer;
}

.openItemButton {
   border-radius: 0;
   color: var(--blue);
}

.expandTagsButton:hover,
.openItemButton:hover {
   color: var(--blue);
   background: var(--cultured);
}

.expandTagsButton:active {
   outline: none;
}

@media only screen and (max-width: 560px) {
   .card {
      grid-template-rows: 15rem 0.25rem 2fr;
   }
}

@media only screen and (max-width: 560px) {
   .card {
      grid-template-areas: "bodyLeft header" "accent accent" "hasTagWrapper hasTagWrapper" "bodyRight bodyRight" "expandTags expandTags";
   }

   .header {
      border-radius: 0.25rem;
   }

   .bodyLeft {
      align-items: flex-end;
      background: var(--cultured);
   }
}

@media only screen and (max-width: 800px) {
   .bodyRight {
      display: flex;
      flex-direction: column;
   }
}

@media only screen and (max-width: 900px) {
   .card,
   .card > div {
      border-radius: 0;
   }

   .card {
      box-shadow: none;
   }

   .expandTagsFooter,
   .expandTagsButton {
      border-radius: 0;
   }
}
