.loading {
   /* position: absolute; */
   position: relative;
   background: var(--gainsboro);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-grow: 1;
   gap: 1rem;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   height: 100%;
}
