.item {
   position: relative;
   font-size: 1.5rem;
   margin: 5rem auto;
   width: min(var(--inner-page-width), 100%);
   display: grid;
   grid-template-columns: 43% auto;
   grid-template-areas: "itemLeft itemRight";
   gap: 2.5rem;
}

.itemLeft {
   grid-area: itemLeft;
}

.itemLeftInner {
   position: sticky;
   top: 0;
   display: flex;
   flex-direction: column;
   gap: 5rem;
   padding-right: 2.5rem;
   border-right: 2px solid var(--gainsboro);
}

.titleWrapper {
   font-weight: 600;
}

.titleWrapper,
.idsWrapper {
   padding: 0.5rem;
}

.thumbnailWrapper {
   position: relative;
   padding: 0.5rem;
}

.idsWrapper {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.itemTagsWrapper {
   position: relative;
}

.itemRight {
   position: relative;
   grid-area: itemRight;
}

.itemRightInner {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 5rem;
}

@media only screen and (max-width: 925px) {
   .item {
      display: flex;
      flex-direction: column;
      padding: 1rem;
   }

   .itemLeftInner {
      padding-right: 0;
      border: none;
      gap: 2.5rem;
   }
}

@media only screen and (max-width: 450px) {
   .thumbnail {
      width: 100%;
   }
}
